body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1464px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u12773 {
  position:absolute;
  left:224px;
  top:0px;
  width:1240px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u12774 {
  position:absolute;
  left:2px;
  top:8px;
  width:1236px;
  word-wrap:break-word;
}
#u12775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12775 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:50px;
}
#u12776 {
  position:absolute;
  left:2px;
  top:17px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:810px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12777 {
  position:absolute;
  left:224px;
  top:50px;
  width:1240px;
  height:810px;
}
#u12778 {
  position:absolute;
  left:2px;
  top:397px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:725px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12779 {
  position:absolute;
  left:240px;
  top:90px;
  width:1208px;
  height:725px;
}
#u12780 {
  position:absolute;
  left:2px;
  top:354px;
  width:1204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12781 {
  position:absolute;
  left:240px;
  top:50px;
  width:300px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12782 {
  position:absolute;
  left:0px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u12784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:810px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12784 {
  position:absolute;
  left:0px;
  top:50px;
  width:224px;
  height:810px;
}
#u12785 {
  position:absolute;
  left:2px;
  top:397px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12786 {
  position:absolute;
  left:0px;
  top:50px;
  width:211px;
  height:785px;
  color:#333333;
}
#u12786_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12787 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12788 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12788_img.selected {
}
#u12788.selected {
}
#u12789 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12790 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12791 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12787_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12792 {
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12793 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12794 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12795 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12796 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12797 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12798 {
  position:absolute;
  left:20px;
  top:60px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12799 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12800 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12801 {
  position:absolute;
  left:20px;
  top:80px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12802 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12803 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12804 {
  position:absolute;
  left:20px;
  top:100px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12805 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12806 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12807 {
  position:absolute;
  left:0px;
  top:120px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12808 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12808_img.selected {
}
#u12808.selected {
}
#u12809 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12810 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12811 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12807_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12812 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12813 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u12814 {
  position:absolute;
  left:3px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12815 {
  position:absolute;
  left:20px;
  top:40px;
  width:108px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12816 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u12817 {
  position:absolute;
  left:3px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12818 {
  position:absolute;
  left:20px;
  top:60px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12819 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12820 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12821 {
  position:absolute;
  left:20px;
  top:80px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12822 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12823 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12824 {
  position:absolute;
  left:0px;
  top:220px;
  width:140px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12825 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12825_img.selected {
}
#u12825.selected {
}
#u12826 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12827 {
  position:absolute;
  left:22px;
  top:0px;
  width:118px;
  height:20px;
}
#u12828 {
  position:absolute;
  left:3px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12824_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12829 {
  position:absolute;
  left:20px;
  top:20px;
  width:186px;
  height:20px;
  color:#FFFFFF;
}
#u12830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12830 {
  position:absolute;
  left:22px;
  top:0px;
  width:164px;
  height:20px;
}
#u12831 {
  position:absolute;
  left:3px;
  top:2px;
  width:159px;
  white-space:nowrap;
}
#u12832 {
  position:absolute;
  left:20px;
  top:40px;
  width:173px;
  height:20px;
  color:#FFFFFF;
}
#u12833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12833 {
  position:absolute;
  left:22px;
  top:0px;
  width:151px;
  height:20px;
}
#u12834 {
  position:absolute;
  left:3px;
  top:2px;
  width:146px;
  white-space:nowrap;
}
#u12835 {
  position:absolute;
  left:20px;
  top:60px;
  width:146px;
  height:20px;
  color:#FFFFFF;
}
#u12836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12836 {
  position:absolute;
  left:22px;
  top:0px;
  width:124px;
  height:20px;
}
#u12837 {
  position:absolute;
  left:3px;
  top:2px;
  width:119px;
  white-space:nowrap;
}
#u12838 {
  position:absolute;
  left:20px;
  top:80px;
  width:146px;
  height:20px;
  color:#FFFFFF;
}
#u12839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12839 {
  position:absolute;
  left:22px;
  top:0px;
  width:124px;
  height:20px;
}
#u12840 {
  position:absolute;
  left:3px;
  top:2px;
  width:119px;
  white-space:nowrap;
}
#u12841 {
  position:absolute;
  left:0px;
  top:320px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12842 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12842_img.selected {
}
#u12842.selected {
}
#u12843 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12844 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12845 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12841_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12846 {
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12847 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12848 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12849 {
  position:absolute;
  left:20px;
  top:40px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12850 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12851 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12852 {
  position:absolute;
  left:0px;
  top:380px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12853 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12854 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12855 {
  position:absolute;
  left:0px;
  top:400px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12856 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12856_img.selected {
}
#u12856.selected {
}
#u12857 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12858 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12859 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12855_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12860 {
  position:absolute;
  left:20px;
  top:20px;
  width:108px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12861 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u12862 {
  position:absolute;
  left:3px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12863 {
  position:absolute;
  left:20px;
  top:40px;
  width:156px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12864 {
  position:absolute;
  left:22px;
  top:0px;
  width:134px;
  height:20px;
}
#u12865 {
  position:absolute;
  left:3px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u12866 {
  position:absolute;
  left:0px;
  top:460px;
  width:108px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12867 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12867_img.selected {
}
#u12867.selected {
}
#u12868 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12869 {
  position:absolute;
  left:22px;
  top:0px;
  width:86px;
  height:20px;
}
#u12870 {
  position:absolute;
  left:3px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12866_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12871 {
  position:absolute;
  left:20px;
  top:20px;
  width:140px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12872 {
  position:absolute;
  left:22px;
  top:0px;
  width:118px;
  height:20px;
}
#u12873 {
  position:absolute;
  left:3px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12874 {
  position:absolute;
  left:20px;
  top:40px;
  width:172px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12875 {
  position:absolute;
  left:22px;
  top:0px;
  width:118px;
  height:20px;
}
#u12876 {
  position:absolute;
  left:3px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12877 {
  position:absolute;
  left:20px;
  top:60px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12878 {
  position:absolute;
  left:22px;
  top:0px;
  width:150px;
  height:20px;
}
#u12879 {
  position:absolute;
  left:3px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u12880 {
  position:absolute;
  left:0px;
  top:540px;
  width:140px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12881 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12881_img.selected {
}
#u12881.selected {
}
#u12882 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12883 {
  position:absolute;
  left:22px;
  top:0px;
  width:118px;
  height:20px;
}
#u12884 {
  position:absolute;
  left:3px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12880_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12885 {
  position:absolute;
  left:20px;
  top:20px;
  width:140px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12886 {
  position:absolute;
  left:22px;
  top:0px;
  width:118px;
  height:20px;
}
#u12887 {
  position:absolute;
  left:3px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12888 {
  position:absolute;
  left:20px;
  top:40px;
  width:156px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12889 {
  position:absolute;
  left:22px;
  top:0px;
  width:134px;
  height:20px;
}
#u12890 {
  position:absolute;
  left:3px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u12891 {
  position:absolute;
  left:20px;
  top:60px;
  width:140px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12892 {
  position:absolute;
  left:22px;
  top:0px;
  width:118px;
  height:20px;
}
#u12893 {
  position:absolute;
  left:3px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12894 {
  position:absolute;
  left:0px;
  top:620px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12895 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12895_img.selected {
}
#u12895.selected {
}
#u12896 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12897 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12898 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12894_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12899 {
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12900 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12901 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12902 {
  position:absolute;
  left:20px;
  top:40px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12903 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12904 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12905 {
  position:absolute;
  left:20px;
  top:60px;
  width:124px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12906 {
  position:absolute;
  left:22px;
  top:0px;
  width:102px;
  height:20px;
}
#u12907 {
  position:absolute;
  left:3px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12908 {
  position:absolute;
  left:0px;
  top:700px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12909 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12910 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12911 {
  position:absolute;
  left:0px;
  top:720px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12912 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12912_img.selected {
}
#u12912.selected {
}
#u12913 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12914 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12915 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12911_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12916 {
  position:absolute;
  left:20px;
  top:20px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12917 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12918 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12919 {
  position:absolute;
  left:20px;
  top:40px;
  width:92px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u12920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12920 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u12921 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12922 {
  position:absolute;
  left:260px;
  top:469px;
  width:385px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12923 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u12925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:32px;
}
#u12925 {
  position:absolute;
  left:957px;
  top:439px;
  width:453px;
  height:32px;
}
#u12926 {
  position:absolute;
  left:2px;
  top:8px;
  width:449px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12927 {
  position:absolute;
  left:840px;
  top:150px;
  width:100px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u12927_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12927.mouseOver {
}
#u12928 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u12929 {
  position:absolute;
  left:260px;
  top:100px;
  width:200px;
  height:40px;
}
#u12929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12930 {
  position:absolute;
  left:500px;
  top:100px;
  width:200px;
  height:40px;
}
#u12930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12931 {
  position:absolute;
  left:740px;
  top:100px;
  width:200px;
  height:40px;
}
#u12931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12932 {
  position:absolute;
  left:260px;
  top:150px;
  width:95px;
  height:40px;
  font-size:16px;
}
#u12933 {
  position:absolute;
  left:0px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u12934 {
  position:absolute;
  left:360px;
  top:150px;
  width:200px;
  height:40px;
}
#u12934_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12935 {
  position:absolute;
  left:592px;
  top:150px;
  width:200px;
  height:40px;
}
#u12935_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12936 {
  position:absolute;
  left:525px;
  top:155px;
  width:30px;
  height:30px;
}
#u12937 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12938 {
  position:absolute;
  left:755px;
  top:155px;
  width:30px;
  height:30px;
}
#u12939 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12941 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
.u12942 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
.u12943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12943 {
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:40px;
}
.u12944 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
.u12945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12945 {
  position:absolute;
  left:200px;
  top:0px;
  width:120px;
  height:40px;
}
.u12946 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
.u12947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12947 {
  position:absolute;
  left:320px;
  top:0px;
  width:150px;
  height:40px;
}
.u12948 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
.u12949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12949 {
  position:absolute;
  left:470px;
  top:0px;
  width:100px;
  height:40px;
}
.u12950 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
.u12951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12951 {
  position:absolute;
  left:570px;
  top:0px;
  width:180px;
  height:40px;
}
.u12952 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
.u12953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12953 {
  position:absolute;
  left:1050px;
  top:0px;
  width:100px;
  height:40px;
}
.u12954 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
.u12955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12955 {
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:40px;
}
.u12956 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
.u12957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u12957 {
  position:absolute;
  left:850px;
  top:0px;
  width:200px;
  height:40px;
}
.u12958 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
.u12959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u12959 {
  position:absolute;
  left:1070px;
  top:5px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
.u12959_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
.u12959.mouseOver {
}
.u12960 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u12940-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:40px;
}
#u12940-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:1150px;
  height:40px;
}
#u12940-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:1150px;
  height:40px;
}
#u12940-4 {
  position:absolute;
  left:0px;
  top:120px;
  width:1150px;
  height:40px;
}
#u12940 {
  position:absolute;
  left:260px;
  top:260px;
  width:1150px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u12961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12962 {
  position:absolute;
  left:260px;
  top:220px;
  width:50px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12963 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u12964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12964 {
  position:absolute;
  left:310px;
  top:220px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12965 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u12966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12966 {
  position:absolute;
  left:460px;
  top:220px;
  width:120px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12967 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u12968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12968 {
  position:absolute;
  left:580px;
  top:220px;
  width:150px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12969 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u12970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12970 {
  position:absolute;
  left:730px;
  top:220px;
  width:100px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12971 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12972 {
  position:absolute;
  left:830px;
  top:220px;
  width:180px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12973 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u12974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12974 {
  position:absolute;
  left:1310px;
  top:220px;
  width:100px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12975 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12976 {
  position:absolute;
  left:1010px;
  top:220px;
  width:100px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12977 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u12978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12978 {
  position:absolute;
  left:1110px;
  top:220px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12979 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u12980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:420px;
}
#u12980 {
  position:absolute;
  left:360px;
  top:190px;
  width:375px;
  height:420px;
}
#u12981 {
  position:absolute;
  left:2px;
  top:202px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:420px;
}
#u12982 {
  position:absolute;
  left:592px;
  top:190px;
  width:375px;
  height:420px;
}
#u12983 {
  position:absolute;
  left:2px;
  top:202px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12984 {
  position:absolute;
  left:970px;
  top:100px;
  width:95px;
  height:40px;
  font-size:16px;
}
#u12985 {
  position:absolute;
  left:0px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u12986 {
  position:absolute;
  left:1085px;
  top:100px;
  width:200px;
  height:40px;
}
#u12986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
}
#u12986_input:disabled {
  color:grayText;
}
#u12987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u12987 {
  position:absolute;
  left:15px;
  top:5px;
  width:176px;
  height:40px;
}
#u12988 {
  position:absolute;
  left:2px;
  top:12px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
